@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Hide default styling of details/summary */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.homelogo {
  background-image: url(https://www.quickobook.com/assets/img/home_bg.jpg);
  background-position: center;
  background-size: 100% auto;
  min-height: 320px;
  background-repeat: no-repeat;
} 
/* 
.homecolor {
  background: rgb(65,57,209);
  background: linear-gradient(90deg, rgba(65,57,209,1) 0%, rgba(255,255,255,1) 100%);
} */