@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Hide default styling of details/summary */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.homepage {
  background-image: url(https://www.quickobook.com/assets/img/home_bg.jpg);
  background-position: center;
  background-size: 100% auto;
  min-height: 320px;
  background-repeat: no-repeat;
} 

.aboutpage {
  background-image: url(https://www.quickobook.com/assets/img/breadcumb-background.jpg);
  background-position: center;
  background-size: 100% auto;
  min-height: 320px;
  background-repeat: no-repeat;
} 

.doctorpage {
  background-image: url(https://www.practostatic.com/web-assets/home/assets/images/homepage.06859593240c3efd483fe48951cfe6ff.svg);
  background-position: center;
  background-size: 100% auto;
  height:100%;
  background-repeat: no-repeat;
}

.medicineBg {
  background-image: url(https://pharmacy.quickobook.com/public/banner_images/g6elW-112613-Wpb.jpg);
  background-position: center;
  /* background-size: 100% auto; */
  height:100%;
  background-repeat: no-repeat;
}